- name: Test Playbook
  hosts: localhost
  connection: local
  gather_facts: yes
  tasks:
    - name: Ping
      ansible.builtin.ping:

    - name: Show OS information
      debug:
        msg:
          - "OS Family: {{ ansible_os_family }}"
          - "Distribution: {{ ansible_distribution }}"
          - "Version: {{ ansible_distribution_version }}"
          - "Release: {{ ansible_distribution_release }}"
          - "Kernel: {{ ansible_kernel }}"

    - name: Update apk package index
      community.general.apk:
        update_cache: yes

    - name: Install Apache2 package
      community.general.apk:
        name: apache2
        state: present

    - name: Ensure Apache2 service is started and enabled
      ansible.builtin.service:
        name: apache2
        state: started
        enabled: true
