- name: Test Playbook
  hosts: all
  # connection: local
  become: true
  vars:
    web_content: "<h1>Welcome to the Ansible Demo Page!</h1>"
  tasks:
    - name: Ping
      ansible.builtin.ping:
      
    - name: Ensure Apache/HTTPD package is installed
      ansible.builtin.package:
        name:
          - apache2
          - httpd   
        state: present 

    - name: Create a simple index.html file
      ansible.builtin.copy:
        content: "{{ web_content }}"
        dest: /var/www/html/index.html
        owner: root
        group: root
        mode: '0644'

    - name: Ensure the web service is running and enabled on boot
      ansible.builtin.service:
        name: "{{ ansible_distribution_service_name }}"
        state: started 
        enabled: true
