- name: Test Playbook
  hosts: localhost
  connection: local
  gather_facts: yes
  tasks:
    - name: Ping
      ansible.builtin.ping:

    - name: Show OS information
      ansible.builtin.debug:
        msg:
          - "OS Family: {{ ansible_os_family }}"
          - "Distribution: {{ ansible_distribution }}"
          - "Version: {{ ansible_distribution_version }}"
          - "Release: {{ ansible_distribution_release }}"
          - "Kernel: {{ ansible_kernel }}"

    - name: Update apk package index
      ansible.builtin.shell: ip addr

    - name: Show IPv4 and IPv6 addresses
      debug:
        msg:
          - "IPv4: {{ ansible_all_ipv4_addresses }}"
          - "IPv6: {{ ansible_all_ipv6_addresses }}"
